body {
  padding-top: 70px;
  padding-bottom: 30px;
  background: lightgray;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}

/*
************************
***** Extra styles *****
************************
*/

p {
	font-size: 14px !important;
	text-align: justify;
}

.jumbotron {
	background: #FFFFFF !important;
}